.translator
  display: grid
  grid-template-areas: "left right" "bottom bottom"
  grid-template-columns: 300px 1fr
  grid-template-rows: 1fr auto
  margin: 8px
  gap: 8px
  height: 100%
  .left, .right, .bottom
    border-radius: 4px
  .sidebar
    grid-area: left
    display: flex
    flex-direction: column
  .subtitle-preview-container
    grid-area: right
    display: flex
    flex-direction: column
    overflow-y: auto
    border-radius: 4px
    max-height: calc(100vh - 45px - 32px - 26px - 16px - 8px)
    .subtitle-preview
      .subtitle-preview__item
        display: grid
        grid-template-columns: auto 1fr
        grid-template-rows: 1fr
        grid-template-areas: "index text" "index text-translated"
        background-color: #f2f2f2
        padding: 8px
        border-radius: 4px
        gap: 8px
        .subtitle-preview__item__index
          grid-area: index
          display: flex
          align-items: center
        .subtitle-preview__item__text
          grid-area: text
        .subtitle-preview__item__text--translated
          grid-area: text-translated
          color: #3f51b5
        &:not(:last-child)
          margin-bottom: 8px
  .bottom
    grid-area: bottom
    display: flex
    align-items: center
    gap: 8px
    .progress-bar-container
      flex: 1
      .progress-bar__text
        text-align: right
        font-size: 14px
        margin-bottom: 4px
        display: flex
        justify-content: space-between
      .progress-bar
        height: 4px
        border-radius: 8px
        background-color: #f2f2f2
        overflow: hidden
        .progress-bar__progress
          height: 100%
          background-color: #3f51b5
  .btn,,input[type="file"]::file-selector-button
    all: unset
    padding: 4px 8px
    border: none
    border-radius: 4px
    background-color: #3f51b5
    color: #fff
    cursor: pointer
    transition: all .1s ease-in-out
    display: inline-flex
    align-items: center
    gap: 4px
    &:hover
      background-color: #303f9f
    &:active
      background-color: #1a237e
  .btn
    &:disabled
      background-color: #c5cae9
      color: #7986cb
      cursor: not-allowed
      &:hover
        background-color: #c5cae9
        color: #7986cb
  label
    font-size: 16px
    font-weight: 500
    color: #3f51b5
    letter-spacing: 1px
    line-height: 24px
    display: flex
    align-items: center
    gap: 4px
  input, textarea
    width: 100%
    padding: 8px
    border: none
    border-radius: 4px
    background-color: #f2f2f2
    font-size: 16px
    font-family: 'Lato', sans-serif
    margin-bottom: 8px
    outline: none
    resize: none
    transition: all .1s ease-in-out
    &:focus
      box-shadow: 0 0 0 2px #3f51b5
  textarea
    min-height: 200px
    flex: 1
    margin-bottom: 0
  input[type="file"]
    font-size: 14px
  input[type="file"]::file-selector-button
    margin-right: 8px