.translator
  display: grid
  grid-template-areas: "left right" "bottom bottom"
  grid-template-columns: 300px 1fr
  grid-template-rows: 1fr auto
  margin: 8px
  gap: 8px
  height: 100%
  .left, .right, .bottom
    border-radius: 4px
  .sidebar
    grid-area: left
    display: flex
    flex-direction: column
  .subtitle-preview-container
    grid-area: right
    display: flex
    flex-direction: column
    overflow-y: auto
    border-radius: 4px
    max-height: calc(100vh - 35px - 27px - 16px - 8px)
    .subtitle-preview
      .subtitle-preview__item
        display: grid
        grid-template-columns: auto 1fr auto
        grid-template-rows: 1fr
        grid-template-areas: "index text actions" "index text-translated actions"
        align-items: center
        background-color: rgb(244, 245, 245)
        padding: 8px
        border-radius: 4px
        gap: 16px
        .subtitle-preview__item__index
          grid-area: index
          display: flex
          align-items: center
        .subtitle-preview__item__text
          grid-area: text
        .subtitle-preview__item__text--translated
          grid-area: text-translated
          color: var(--accent-color)
          input
            background-color: #fff
            margin: -8px
            margin-bottom: 0
        .subtitle-preview__item__actions
          grid-area: actions
        &:not(:last-child)
          margin-bottom: 8px
  .bottom
    grid-area: bottom
    display: flex
    align-items: center
    gap: 8px
    .progress-bar-container
      flex: 1
      .progress-bar__text
        text-align: right
        font-size: 14px
        margin-bottom: 4px
        display: flex
        justify-content: space-between
      .progress-bar
        height: 4px
        border-radius: 8px
        background-color: rgb(244, 245, 245)
        overflow: hidden
        .progress-bar__progress
          height: 100%
          background-color: var(--accent-color)
  .btn,input[type="file"]::file-selector-button
    all: unset
    padding: 4px 8px
    border: none
    border-radius: 4px
    background-color: var(--accent-color)
    color: #fff
    cursor: pointer
    transition: all .1s ease-in-out
    display: inline-flex
    align-items: center
    gap: 4px
    &:hover
      background-color: var(--accent-color-hover)
    &:active
      background-color: var(--accent-color-active)
  .btn
    &:disabled
      background-color: color-mix(in srgb,var(--accent-color), #fff 70%)
      color: color-mix(in srgb,var(--accent-color), #fff 10%)
      cursor: not-allowed
      pointer-events: none
  .translationMethod
    cursor: pointer
    display: flex
    align-items: center
    gap: 4px
    justify-content: space-between
  input, textarea, select,.translationMethod
    width: 100%
    padding: 8px
    border: none
    border-radius: 4px
    background-color: rgb(244, 245, 245)
    font-size: 16px
    font-family: 'Lato', sans-serif
    margin-bottom: 8px
    outline: none
    resize: none
    transition: all .1s ease-in-out
    &:focus
      box-shadow: 0 0 0 2px var(--accent-color)
      background-color: #fff
  textarea
    min-height: 180px
    flex: 1
    margin-bottom: 0
  input[type="file"]
    font-size: 14px
  input[type="file"]::file-selector-button
    margin-right: 8px

label
  font-size: 16px
  font-weight: 500
  color: var(--accent-color)
  letter-spacing: 1px
  line-height: 24px
  display: flex
  align-items: center
  gap: 4px
dialog
  background-color: #fff
  border: none
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 4px 11px rgba(0, 0, 0, .1)
  border-radius: 4px
  padding: 8px
  width: 600px
  label
    margin-bottom: 4px
  .dialog-option
    all: unset
    padding: 8px
    background-color: rgb(244, 245, 245)
    width: calc(100% - 20px)
    margin-bottom: 8px
    border: 2px solid transparent
    border-radius: 6px

    display: flex
    flex-direction: column
    gap: 4px

    cursor: pointer

    font-size: 14px
    color: #333
    transition: all .1s ease-in-out

    line-height: 1.25
    position: relative
    .title,.tag
      display: flex
      align-items: center
      gap: 4px
    .title
      font-size: 16px
      font-weight: 700
      color: var(--accent-color)
      letter-spacing: 1px
      line-height: 24px
    .tag
      border-radius: 0 4px 0 4px
      padding: 2px 4px
      color: #fff
      background-color: var(--accent-color)

      position: absolute
      top: -1px
      right: -1px

    .pricing
      flex: 1
      display: flex
      align-items: flex-end
      gap: 4px
    .note
      opacity: .5
      font-size: 12px
    &:hover
      border: 2px solid var(--accent-color)
      background: #fff
  &::backdrop
    background-color: rgba(0, 0, 0, .15)
    animation: fadeIn .2s ease-in-out
  &[open]
    animation: fadeInSlideDown .2s ease-in-out
  &:not([open])
    animation: fadeIn .2s ease-in-out reverse
@keyframes fadeInSlideDown
  0%
    opacity: 0
    transform: translateY(-40px)
  100%
    opacity: 1
    transform: translateY(0)
@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1